<!-- (template pour afficher la liste des defis) challenges/templates/challenges/challenge_list.html -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Défis</title>
</head>
<body>
    <h1>Liste des Défis</h1>
    <ul>
        {% for challenge in challenges %}
            <li>{{ challenge.name }} - {{ challenge.start_date }} - {{ challenge.end_date }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'challenge_create' %}">Créer un nouveau défi</a>
</body>
</html>
