<!-- challenges/templates/challenges/home.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur l'application de défis</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Lien vers le fichier CSS -->
</head>
<body>
    <h1>Bienvenue sur la page d'accueil de l'application !</h1>
    <p>Explorez notre site pour participer à des défis passionnants !</p>
    <a href="{% url 'challenge_list' %}">Voir la liste des défis</a> | 
    <a href="{% url 'challenge_create' %}">Créer un nouveau défi</a> | 
    <a href="{% url 'challenge_stats' %}">Voir les statistiques</a>
</body>
</html>

